<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :preview %><br />
    <%= f.text_area :preview, class: 'input-xxlarge', rows: 3 %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body , class: 'input-xxlarge' %>
  </div>
  <div class="field">
    <%= f.label :published, class: 'checkbox' do %>
      <%= f.check_box :published %> Published
    <% end %>
  </div>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
