!!! 5
%html{ lang: "en"}
  %head
    %title= Settings.blog_title
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    - if Settings.ga_enabled
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', "#{Settings.ga_code}"]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    .container
      .header
        %ul.nav.nav-pills.pull-right
          - if current_user
            %li
              = image_tag current_user_gravatar, class: 'thumbnail'
            %li= link_to "Account", edit_user_registration_path
            %li= link_to 'New Post', new_post_path
            %li= link_to "Log Out", destroy_user_session_path, :method => 'delete'
          - else
            %li= link_to "Sign In / Sign Up", new_user_session_path
        %h3
          = link_to Settings.blog_title, root_path
        %hr

      .row
        .span8
          = yield
        .span4
          %h4 Recent posts:
          %ul
            - Post.published.recent.limit(20).each do |post|
              %li
                = link_to post.title, post
                %small= post.created_at

